<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="tupleFunction()">
  <select class="form-control" name="q1" formControlName="q1" >
    <option value="" selected disabled>Posts or Comments</option>
    <option value="posts">Posts</option>
    <option value= "comments">Comments</option>
  </select>
  <select class="form-control" name="q2" formControlName="q2">
      <option value="" selected disabled>User Id?</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <!-- <option value= "false">No</option> -->
    </select>
    <select class="form-control" name="q3" formControlName="q3">
        <option value="" selected disabled>Over 18?</option>
        <option [value]="true">Yes</option>
        <option [value]= "false">No</option>
      </select>
      <select class="form-control" name="q4" formControlName="q4" >
          <option value="" selected disabled>Libra</option>
          <option [value]="true">Yes</option>
          <option [value]= "false">No</option>
        </select>
      <!-- <select class="form-control" name="q4" formControlName="q4" >
          <option value="" selected disabled>How much can you put down?</option>
          <option value="1,000-5,000">$1,000-5,000</option>
          <option value= "5,000-1,0000">$5,000-10,000</option>
          <option value= "10,000-15,000">$10,000-15,000</option>
        </select> -->
        <button type="submit"> send</button>
        </form>
</div>
<div *ngIf="youngMan">
  {{canView}}
</div>
<div *ngIf="showNow">
    <span class="first-name">{{nameInfo.first_name}}:</span><span class="horoscope">{{horo.horo}} </span> 
  </div>
  <div *ngIf="post">
  <p *ngFor="let data of dataHolder">
   <b>Post Title: </b>{{data.title}} 
  </p>
</div>
<div *ngIf="comment">
    <p *ngFor="let data of dataHolder">
     <b>Comment Body: </b>{{data.body}} 
    </p>
  </div>
  <!-- <div *ngFor="let data in dataHolder">
      {{data.title}}
    </div>
    <div *ngFor="let data in dataHolder">
        {{data.title}}
      </div> -->
