<div class="container">

  <div class="jumbotron" *ngIf="!post">
    <h1 class="display-4">Compare Cars!</h1>
    <p class="lead">Pick your cars and find their rating based on your selected sources.</p>
    <hr class="my-4">
    
    <div class="row">
      <div class="col" *ngIf="maybeCar">
        <div class="card" *ngFor="let car of carPicked"> {{car}} </div>
      </div>
      <div class="col" *ngIf="maybeNews">
        <div class="card" *ngFor="let news of newsSource" > {{news | uppercase}} </div>
      </div>
    </div>
    <hr>
    <form>
      <label>Select Car Brands</label>
      <select class="form-control" multiple (change)="onCar($event)">
        <option *ngFor="let v of cars" [value]='v'>{{v}}</option>
      </select>
      <label>Select News Sources</label>
      <select class="form-control" multiple (change)="onNews($event)">
        <option *ngFor="let v of topics" [value]='v'>{{v | uppercase}}</option>
      </select>
</form>
    <div class="centered">
      <button (click)="carReview()" class="btn btn-primary btn-lg button-color">Compare Now!</button>
    </div>
  </div>

  <div class="jumbotron" *ngIf="carData.length > 0">
    <span class="highest">The highest rated car is <span class="highest-rated">{{highestRated}}</span> according to</span>
    <span *ngFor="let c of carSource" class="highest">{{c | titlecase}}- </span>
  
  <div class="row spaced" *ngIf="post">
    <div class="col" *ngFor="let x of carInfo; index as i">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{x}}</h5>
          <div *ngFor="let data of carData">
            <div *ngIf="data.car === x">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info {{data.source}}">  {{data.source | uppercase}}: {{data.rating}}</li>
                  </ul>
                  
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div *ngIf="post" class="spacing centered">
    <div class="btn btn-primary btn-lg button-color" (click)="compareMore()">Compare More!</div>
  </div>
</div>  
</div>
