.button-color {
    background-color: #b33535;
}
.centered {
    margin-top: 20px;
    text-align: center;
}
.spacing {
    margin-top: 40px;
}
.jumbotron {
    margin-top: 30px;
}
.highest {
    font-size: 18px;
}
.spaced {
    margin-top: 20px;
}
.highest-rated {
    font-weight: bolder;
}
.cnn {
    background-color:   burlywood;
}
.forbes {
    background-color: wheat;
}
.fox { 
    background-color: thistle;
}
.car {
    background-color: rosybrown;
}