.first-name {
    color: red;
    font-size: 25px;
}
.post-title {
    color: blue;
    font-size: 16px;
}
.newsSourcescope {
    color: green;
    font-size: 14px;
}
.centered {
    margin-top: 20px;
    text-align: center;
}
.spacing {
    margin-top: 40px;
}